@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
body {
  font-family: IBM Plex Sans !important;
}
.my-dropdown-toggle::after {
  content: none !important;
}
.fontuser i {
  position: absolute;
  left: 15px;
  top: 7px;
  color: gray;
}
.carousel-item {
  background-color: black;
  /* opacity: 0.9; */
  z-index: 2;
}
.vector {
  width: 330px;
}
.page-link {
  color: #1f1d1d !important;
  border: 0 !important;
}
.pagination {
  width: 50vw !important;
}
.btn-info {
  background-color: lightgray !important;

  height: 20px;
  align-items: center;
}
.fs12 {
  font-size: 12px !important;
}
.fs14 {
  font-size: 14px !important;
}
.w70 {
  width: 70% !important;
}
.w30 {
  width: 30% !important;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 0.75rem !important;
  }
  .vector {
    width: 220px;
  }
}
@media screen and (max-width: 576px) {
  .w100 {
    width: 100% !important;
  }
  .padding input {
    padding: 10px 10px !important;
  }
}
